@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
    font-family: 'Roboto',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline:none;border:nome;
    text-decoration: none;
    text-transform: uppercase;
}


body{
    background: #eee;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.container{
    min-width: 300px;
    width: 50vw;
}
form{
    background: #fff;
    border-radius:5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 15px;
}  
.inputBox{
    margin-top: 20px;
}
.inputBox label{
    display: block;
    color:#777;
    margin: 5px 0px;
}
.inputBox input,
.inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;   
}

.inputBox select{
    cursor:pointer;
}

.inputBox input:focus, .inputBox select:focus{
    border: 1px solid #777;
}

.inputBox input::placeholder{
    text-transform: none;
    letter-spacing: 0.5px;
}


.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.submit-btn{
    width: 100%;
    background: linear-gradient(45deg,black,red) ;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius:10px;
    cursor :pointer;
    transition: .2s linear;
}
.submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

