@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --btn-and-links: #b5121b;
  --red-shadows: #6f0b11;
  --title: #ffffff;
  --subtitles: #81010D;
  --light-bg: #333333;
  --dark-bg: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}



html,
body {
  max-height: 100%;
  background-color: var(--dark-bg) !important;
}

header nav {
  background: #000000;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 30px;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

header nav li {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  margin: 5px;
  font-weight: 700;
  font-size: 18px;
}

header nav li span {
  margin: 20px;
}

header #login {
  margin-right: 30px;
}

header #login img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 70vh;
  position: relative;
}

.carousel-item {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  object-fit: cover;

}

.carousel-item iframe {
  filter: brightness(0.6);
  height: 500px;
}

.movieTitle {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #ffffff;
  width: 500px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.movieTitle button {
  background-color: var(--btn-and-links);
  width: 250px;
  height: 50px;
  border: 2px solid var(--red-shadows);
  border-radius: 8px;
  color: var(--title);
  outline: none;
  transition: 0.8s;
}

.movieTitle button:hover {
  scale: 1.02;
  background-color: var(--red-shadows);

}

.ratings {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 5px;
}

.ratings li img {
  width: 30px;
  height: 100%;
  filter: invert(100);
}

.ratings li span {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
}


.carousel-inner iframe {
  height: 100%;
}


#emCartaz {
  margin-top: 30px;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 700;
}

section h2 {
  color: var(--title);
}


.containerPosters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
}

.containerPosters img {
  width: 13vw;
}



@media (max-width: 1000px) {
  .movieTitle .sinopse {
    display: none;
  }

  .movieTitle {
    width: 13vw;
    top: 25vh;
  }

  .movieTitle h1 {
    min-width: 20vw;
  }

  section h2:after {
    display: none;
  }
}

@media (max-width: 600px) {
  #login span {
    display: none;
  }

  .movieTitle .ratings {
    display: none;
  }

  .carousel-inner {
    display: inline-block;
  }

  .movieTitle {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    width: 80%
  }

  .movieTitle h1 {
    font-size: 1.3em;
    display: inline-block;
  }

  .movieTitle button {
    background-color: var(--btn-and-links);
    width: 80vw;
    height: 50px;
    border: 2px solid var(--red-shadows);
    border-radius: 8px;
    color: var(--title);
    outline: none;
    transition: 0.8s;
  }

  section h2:after {
    display: none;
  }

}

#login{
  min-width: 150px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.spanLoginHidden{
  display: none !important;
}

.spanLink {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


#spanLogado {  
  display: flex;
  margin: 0;
  justify-content: center;
  position: relative;  
    
}

#userIcon button{  
  
  top: 10%;
  color: white;  
  background-color: #B5121B;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  width: 50px;
  height:  50px;
  border: none;
  border-radius: 50px;   
  margin: 0;
  align-items: center;
  justify-content: center;
  
}

#userIcon:hover button {
  
  width: 150px;
  border-radius: 0;
  transition: 0.5s;     
  
}

#userIcon:hover .userDropDown {
  
  height: 200px;
  transition: 0.5s;
  transition-delay: 0.5s;     
  
}
.userDropDown a:hover {
  
  background-color: #B5121B;
  transition: 0.3s;     
  
}

#userIcon  { 
    
  margin: 0px;
  display: inline-block;     
  
}

.userDropDown{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;
  background-color: #1d1d1f;
  box-shadow: 0px 0px 16px 0px rgba(255, 27, 27, 0.562);
  border: none;
  position: absolute;
  min-width: 150px;
  right: calc(50% - 75px);
  z-index: 1;
  transition: 0.3s;
  align-content: center;
  justify-content: center;

}

.userDropDown a {
  font-size: 15px;
  padding: 5px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
}

