@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap%27');
* {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  background-color: #000000;
}

#topo {
  display: flex;

  height: 100%;
  background-color: #000000;
  justify-content: space-between;
}
 #logo{
    width: 150px;
}


#etapas {
  justify-content: space-between;
  padding: 1% 1%;
  display: flex;
  flex-direction: row;

}

#corpo {
  background-color: rgb(0, 150, 7);

}
.containerAllan{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 

}


.produto {

  font-size: 100%;
  display: inline-block;
  border: 1px solid #000000;
  padding: 1%;
  margin: 1%;
  text-align: center;
  background-color: #333;
  height: 26vh;
  width: 15vw;
  min-width: 160px;
  min-height: 180px;
  border-radius: 10%;
  margin-top: 30px;

}

.produto img {
  width: 55%;
  height: 55%;
}
/*----------------------------------------------------------*/

.containProdutosLateral{
  
  width: 70vw;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 150px;
  
}
/* -----------------------------------------------------------*/

main{
  display: flex;
  flex-direction: column;
  background-color: #1d1d1f;
}

.lateralAllan {
  display: flex;
  flex-direction: column;
  
}

.resumoAllan {
 
  padding-bottom: 20px;
  width: 100%;
  border: 1px solid black;
  margin-top: 50px;
  background-color: #333;

}
.resumoFilme {
  display: flex;
  height: 150px;
  gap: 30px;
  justify-content: space-evenly;
}
.resumoCompra, #totalValor, .resumoFilme {
  padding: 10px;
}
.resumoCompra {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.imagemFilme {
  height: 100%;
}
.infoFilme {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  justify-content: space-evenly;
}
.tipoFilme {
  display: flex;
  gap: 20px;
}
.aquisicoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
#totalValor {
  margin-top: 40px;
}
.telaFilme, .audioFilme {
  background-color: #b5121b;
  padding: 5px;
  color: #efefef;
}
.avancarAssentos {
  height: 50px;
  background-color: #b5121b;
  border: none;
  color: #fff;
  cursor: pointer;
}
.tituloEscolha::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-top: 10px;
  display: block;
  background-color: #2a2a2a;
}
.tituloResumo::after {
  content: "";
  height: 1px;
  width: 100%;
  margin-top: 3px;
  display: block;
  background-color: #2a2a2a;
}

/*-------------------------------------------------------------------*/

#pr {
    border-top: 1px solid #CCC; 
    padding: 3% 5%;

}
.prhidden{
display: none;
}

#iconesA {

  background-color: #000000;
  border: none;
  cursor: pointer;
 padding: 10px  50px;

}
 
#sEtapas{
  color: #000000;
}
span{
  color: #ffffff;
}


.icones {
  filter: invert(100);
   border-inline: 1px solid #CCC; 
}

.iconesSelecionado{
  
  border-inline: 1px solid #CCC; 
  filter: invert(100);
  box-shadow: 2px 2px 4px #00e1ff
  
}
input[type="number"] {
  background-color: #333333;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.ExtratoPipocahidden{
  display: none;
}
.ExtratoCocahidden{
  display: none;
}
.ExtratoMentoshidden{
  display: none;
}
.ExtratoTrentohidden{
  display: none;
}
.ExtratoAguahidden{
  display: none;
}
.ExtratoPChocolatehidden{
  display: none;
}
.ExtratoPCaramelohidden{
  display: none;
}
.ExtratoPOreohidden{
  display: none;
}
#produtos{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
#containProdutos{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  
}



@media (min-width: 320px) {
  .containProdutosLateral {
      gap: 0;
      align-items: center;
      flex-direction: column;
      align-content: center;
      justify-content: center;
  }
  .compra {
      width: 100%;
  }
  .iconeOpcoes {
      width: 30px;
  }
  .resumoAllan {
      width: 100%;
      font-size: 14px;

  }
  .resumoCompra, #totalValor, .resumoFilme {
      padding: 10px;
  }
  .resumoFilme{
      gap: 10px;
  }
  .compraOpcoes {
      margin-top: 20px;
      gap: 10px;
      font-family: 11px
  }
  .sala {
      margin-top: 0;
      scale: 85%;
  }
  .tituloEscolha {
      margin-top: 40px;
  }
  .tela, .legenda {
      margin-top: 20px;
  }
  .legendaOpcoes {
      font-size: 12px;
      display: flex;
      gap: 10px;
  }
  .legDisp, .legOcup, .legSel {
      width: 1px;
      height: 1px;
  }
  .assento {
      color: #fff;
      font-size: 12px;
  }
  .aquisicoes {
      font-size: 14px;
  }
  .avancarAssentos {
      margin-top: 20px;
      width: 100%;
  }
  .assentoEscolhido {
      color: #000;
  }

  .lateralAllan {
    width: 300px;  
     
}
}

@media (min-width: 768px) {
  .containProdutosLateral {
      width: 80vw;
      display: flex;
      align-items: center;

      gap: 0;
      flex-direction: column;
      align-content: center;
      justify-content: center;
  }
  .corredor {
      display: flex;
  }
  .compraOpcoes {
      justify-content: space-evenly;
      gap: 0;
      width: 100%;
  }
  .tituloEscolha {
      margin-top: 50px;
  }
  .sala {
      width: 340px;
      scale: 100%;
      margin-top: 20px;
  }
  .resumoAllan {
    width: 100%;
    font-size: 14px;

}
  .legenda {
      margin-top: 20px;
      width: 70%;
  }
  .resumoFilme, .resumoCompra, #totalValor {
      padding: 15px;
  }
  .avancarAssentos {
      width: 100%;
  }
  .assento {
      color: #fff;
  }
  .assentoEscolhido {
      color: #000;
  }
  .tela {
      margin-top: 50px;
  }
  .iconeOpcoes {
      width: 35px;
  }
  
  .lateralAllan {
    width: 300px;  
}

}

@media (min-width: 1200px) {
  .containProdutosLateral {
      display: flex;
      width: 70vw;
      flex-direction: row;
      gap: 100px;

  }
  .assento {
      color: #b5121b;
  }
  .compra {
      width: 50%;
  }
  .sala {
      width: 340px;
  }
  .corredor {
      display: flex;
  }
  .resumo {
      width: 100%;
  }
  .compraOpcoes {
      width: 100%;
      gap: 0;
      justify-content: space-between;
      font-size: 15px;
  }
  .tituloEscolha {
      margin-top: 50px;
  }
  .avancarAssentos {
      width: 100%;
  }
  .infoFilme {
      font-size: 14px;
  }
  .lateralAllan {
      width: 30%;
      margin-top: 50px;
     
  }
  .assentoEscolhido {
      color: #000;
  }
}