@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap%27');

* {
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  background-color: #000000;
}

#corpo {
  background-color: rgb(0, 150, 7);

}
 
/*Container que engloba todo o Body*/
.containerAllan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


.produto {

  font-size: 100%;
  display: inline-block;
  border: 1px solid #000000;
  padding: 1%;
  margin: 1%;
  text-align: center;
  background-color: #333;
  height: 26vh;
  width: 15vw;
  min-width: 160px;
  min-height: 180px;
  border-radius: 10%;
  margin-top: 30px;

}

.produto img {
  width: 55%;
  height: 55%;
}

/*Para Alinhar o Card em Relação aos Produtos*/

.containProdutosLateral {

  width: 70vw;
  margin: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 150px;

}

/* -----------------------------------------------------------*/

main {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1f;
}
/* Card Lateral*/
.lateralAllan {
  display: flex;
  flex-direction: column;
}

.resumoAllan {

  padding-bottom: 20px;
  width: 100%;
  border: 1px solid black;
  margin-top: 50px;
  background-color: #333;

}
/*Butão Avançar Produtos*/
.avancarProdutos {
  height: 50px;
  background-color: #b5121b;
  border: none;
  color: #fff;
  cursor: pointer;
}

/*Para Alinhar o Estrato-------------*/

#pr {

  padding: 3% 5%;

}

.prhidden {
  display: none;
}

span {
  color: #ffffff;
}

input[type="number"] {
  background-color: #333333;
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
/* Para a pagina iniciar sem o 0*/

.ExtratoPipocahidden {
  display: none;
}

.ExtratoCocahidden {
  display: none;
}

.ExtratoMentoshidden {
  display: none;
}

.ExtratoTrentohidden {
  display: none;
}

.ExtratoAguahidden {
  display: none;
}

.ExtratoPChocolatehidden {
  display: none;
}

.ExtratoPCaramelohidden {
  display: none;
}

.ExtratoPOreohidden {
  display: none;
}

#produtos {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/*Para centralizat a div Produtos*/
#containProdutos {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

}

/*Responsividade*/
@media (min-width: 320px) {
  .containProdutosLateral {
    gap: 0;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .resumoAllan {
    width: 100%;
    font-size: 14px;
    padding: 15px;
  }

  .avancarProdutos {
    margin-top: 20px;
    width: 100%;
  }

  .lateralAllan {
    width: 300px;

  }
}

@media (min-width: 768px) {
  .containProdutosLateral {
    width: 80vw;
    display: flex;
    align-items: center;

    gap: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .resumoAllan {
    width: 100%;
    font-size: 14px;

  }

  .avancarProdutos {
    width: 100%;
  }

  .lateralAllan {
    width: 300px;
  }

  .avancarProdutos {
    border-radius: 0;
  }

}

@media (min-width: 1200px) {
  .containProdutosLateral {
    display: flex;
    width: 70vw;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
  }

  .avancarProdutos {
    width: 100%;
  }

  .lateralAllan {
    width: 30%;
    margin-top: 65px;

  }
}